h1 {
    /* <H1 /> */

    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 144px;
    line-height: 192px;
    /* identical to box height */

    color: #C4C4C4;
}

h2 {
    /* <H2 /> */

    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 96px;
    /* identical to box height */

    color: #C4C4C4;
}

h3 {
    /* <H3 /> */

    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height */

    color: #C4C4C4;
}

h4 {
    /* <H4 /> */

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    color: #C4C4C4;
}

h5 {
    /* <H5 /> */

    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-transform: uppercase;
    color: #C4C4C4;
}

h6 {
    /* <H6 /> */

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;

    color: #C4C4C4;
}

p {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    color: #C4C4C4;
}