@import "./reset.css";
@import "./env.scss";
@import "./typography.scss";
@import "./cc.scss";

// @import layout
@import "../../layouts/index.scss";

// @import components tsx
@import "../../components/TheHeader/index.scss";
@import "../../components/Card/index.scss";
@import "../../components/Chooser/index.scss";
@import "../../components/Grid/index.scss";

// @import pages scss
@import "./pages/404.scss";
@import "./pages/index.scss";
@import "./pages/film/[id].scss";
@import "./pages/person/[id].scss";
@import "./pages/time/index.scss";
@import "./pages/time/[id].scss";

*::selection {
    background-color: rgb(58, 58, 58);
    color: rgb(196, 196, 196);
}

body {
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    margin: 0 auto;
    
    background-color: $black;

    &::-webkit-scrollbar { width: 0 !important }
    &::scrollbar { width: 0;}

    img {
        color: rgb(187, 187, 187);
    }
}