#time {
    width: 100%;
    height: calc( 100vh - 190px ); // footer + header height
    display: flex;
    align-items: center;
    justify-content: center;

    #time__traveler {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -80px;

        h1 {
            text-align: center;
            width: 100%;
            max-width: 814px;
        }

        ul {
            display: flex;
            width: 50%;
            justify-content: space-evenly;
            margin-top: 40px;

            @media screen and (max-width: 600px) {
                width: 80%;  
            }

            a {
                font-family: $secondFont;
                font-style: normal;
                font-weight: 900;
                font-size: 14px;
                line-height: 17px;
                color: #5a5a5a;
                transition-duration: .45s;

                &:hover {
                    color: rgb(199, 199, 199);
                }
            }
        }
    }
}