@import "../../scss/env.scss";

footer {
    width: 100%;
    height: 160px;

    box-sizing: border-box;
    padding-top: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        font-size: 12px;
        font-weight: 900;
    }
}