#notification {
    width: 100%;
    height: 100px;
    transition-duration: .65s;
    overflow: hidden;

    > div {
        transition-duration: .35s;
        display: flex;
        justify-content: space-between;

        span {
            font-family: "Playfair Display";
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.35px;

            color: #8E8E8E;

            &.bright {
                color: #CDCDCD;
            }

            @media screen and ( max-width: 800px ) {
                font-size: 14px;
                line-height: 21px;

                font-family: "Lato";
            }
        }
    }

    br {
        display: none;
    }

    @media screen and ( max-width: 800px ) {
        br {
            display: block;
        }
    }
}

#notification__close {
    width: 14px;
    height: 14px;

    background-position: center;
    background-size: cover;
    background-image: url("/static/icons/close.svg");

    transition-duration: .45s;
    opacity: 0.6;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}